.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?w=2000');
    background-size:contain;
    background-position:center;
}

.invalid-feedback {
    margin-left: 25px;
}
